@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@600&display=swap");

:global(body) {
    font-family: "Roboto", "Open Sans", "Helvetica", sans-serif;
}
.fontText {
    font-family: "Alkatra", cursive;
}
#hover1 div a :hover {
    color: rgb(255, 238, 2);
}

html {
    scroll-behavior: smooth;
}

html body{
    background-color: black;
    color: white;
}

/* scroll bar style */
*::-webkit-scrollbar {
    width: 4px;
    background-color: #f5f5f5;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ffc107;
  }

  *::-webkit-scrollbar-track {
    -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }
    /* scroll bar ends */


    #text ul li a {
      color: white;
      /* background-color: white; */
      border-radius: 2rem;
      padding: 7px;
      align-items: center;
  }

  #text ul li a:hover {
      color: #f59e0b;
      /* background-color: white; */
      /* border-width: 1px;
      border-color: #f5de0b; */
      /* border-radius: 2rem; */
      /* padding: 5px; */
  }