/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;


a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #f59e0b;
}